/* App.css */

.app-container {
    transition: all 1s ease;
    /* Optional transition for a smoother effect */
}

.swirl-animation {
    animation: swirl 2s ease-in-out;
    /* Adjust duration and easing as needed */
}

@keyframes swirl {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* nav.css */
/* not working */

.white-text {
    color: white !important;
}

/* footer.css */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
    /* This pushes the footer to the bottom */
}