/* nav.css */
/* not working */

.white-text {
    color: white !important;
}

/* footer.css */


body {
    height: 100%;
    margin: 0;
    padding: 0;
}



#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
    /* This pushes the footer to the bottom */
}

.main {
    background: rgb(189, 224, 254);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
}